{% extends 'base.html.twig' %}

{% block title %}Hello ChiffrageController!{% endblock %}

{% block body %}

<div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
    <h1 class="display-5 mb-5 text-primary">Le chiffrage des dégradations</h1>
</div>

<div class="container ">
<div class="row my-5">  
<div class="col-md-6">
<img class="img-fluid chiffrage " src="{{ asset('img/photos/immobilier1.jpg') }}" alt="">
</div>      

    <div class="  col-md-6 " >
        <h4 > Une garantie professionnelle</h4>
            <p class="text pt-3">
            En quittant les lieux, il n'est pas rare qu'un locataire sortant laisse certains
            dégâts à la fin du bail. Or, avant l'emménagement du locataire entrant, il
            est du devoir des propriétaire du lieu d'entreprendre des travaux de 
            réfection. Des experts comme les nôtres peuvent estimer ces dégâts à 
            l'occasion d'un chiffrage résumé en points essentiels dans cette article.
            </p>
    </div>
<h4 > Qu'est-ce qu'un chiffrage des dégradations ? </h4>
<p class="text pt-3">
Un chiffrage des dégradations se réfère à un constat de l'état de dégradation des 
lieux pour en déterminer le montant des réparations locatives qui en résultent. 
C'est un moment crucial afin de souligner la charge du locataire sur les frais de 
remise en état imputables à ce dernier à l'occasion des détériorations. Grâce à ce 
document, le propriétaire peut par la suite imputer la somme à son locataire.          
Ce chiffrage doit donc être établi de façon précise afin d'éviter les litiges en cas de 
désaccord sur la restitution du dépôt de garantie. </br>
Tout nos experts sont formés avec nos process de qualité pour vous apporter un service premium
 et des rapport conforme à la loi ALUR et précis. 
</p>
<h4 > ETAT DES LIEUX DE SORTIE </h4>

<p>Quand faire le chiffrage des dégradation ?

Le chiffrage état des lieux est établi lors de la sortie du locataire dans la mesure où les logements 
loués nécessiteraient des travaux tels que  : Le remplacement de poignées de porte. La repeinte d'un
 mur. Le nettoyage d'une partie des lieux etc. Nos experts établissent le chiffrage uniquement 
 lorsqu'ils ont réalisé l'entrée et la sortie du bien.
L'établissement de cet état financier en fin de location est la formalité pour trouver un commun accord
 entre le locataire et le bailleur lorsque l'agence immobilière ou le propriétaire doit retenir les 
 dépenses éventuelles sur le dépôt de garantie (retenue sur caution) .
       
    </div>
</div>
{% endblock %}
