{% extends 'base.html.twig' %}

{% block title %}Hello EtatDesLieuxController!{% endblock %}

{% block body %}
    <div>
        <!-- Image -->
        <img class="img-fluid"  src="{{ asset('img/photos/immobilier4.jpg') }}" alt="Image">
    </div>
    <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-5 mb-5 text-primary">Etat des lieux Locatif sur Paris</h1>
    </div>

    <div class="container ">
        <h4 > OBLIGATION D'ETAT DES LIEUX LOCATIF DES LOGEMENTS LOUES</h4>
        <p class="text pt-3 ">
L'obligation de faire effectuer les états des lieux est imposée par la loi que le bailleur soit un 
particulier ou un professionnel dès lors que le logement est destiné à la résidence et qu'il est loué vide.
 Bien que facultatif pour les logements loués meublés, les états des lieux locatif y sont fortement 
recommandés afin de préserver les intérêts du bailleur et du locataire. Seules les locations saisonnière
 de courte durée sont exemptées de l'obligation légale d'état des lieux locatifs. 

<h4 > LES ÉTATS DES LIEUX LOCATIFS SE DÉCOMPOSENT EN DEUX ÉTATS DES LIEUX :</h4>
<p class="text pt-3">
L’état des lieux d’entrée qui doit être réalisé par un représentant du bailleur en présence du locataire
lors de la prise d’effet du bail et l’état des lieux de sortie qui dans l’idéal doit être effectué par la
même personne si possible en présence du locataire lors de la remise des clés en fin de bail. Seule la 
comparaison entre l’état des lieux d’entrée et l’état des lieux de sortie permet de déterminer l’étendue
des dégradations qui devront ensuite être chiffrées au plus juste afin que leur montant puisse en être 
retenu sur la caution locative (dépôt de garantie).
Afin d’éviter tout litige avec le locataire et dans l’optique de préserver les intérêts communs des deux 
parties sans mettre en péril la rentabilité locative, les états des lieux doivent être effectués de la
manière la plus exhaustive et là plus précise possible.
</p>
</div>
<div class="container ">
<div class="row my-5">        
<div class="col-md-6">
    <img class="img-fluid image " src="{{ asset('img/photos/immobilier5.jpg') }}" alt="">
</div>
<div class="  col-md-6">
    <h4 > Une garantie professionnelle</h4>
        <p class="text pt-3">
        Expert état des lieux à mis au point un logiciel permettant la rédaction
        des Etats des lieux que les experts réalisent sur tablette. 

        Une fois l’état des lieux finalisé, l’expert et le locataire signent le
        document sur la tablette. En tant que propriétaire ou mandataire de
        celui-ci, vous recevrez votre état des lieux sous 48h en jours ouvrés par email.

        Dans le cas d’un état des lieux de sortie, une fois terminé, un chiffrage
        des éventuels travaux de réparation à la charge du locataire est réalisé. 
        Cette estimation est envoyée au locataire et au propriétaire ou mandataire de celui.
                    
                </p>
                </div>
            </div>
<div class="container ">
        <h4>
            Un constat complet et exhaustif
        </h4>
        <p>
        Produire un tel document n’est pas aussi simple qu’il peut y paraître. Il doit être complet et 
        exhaustif, comporter tous les éléments décrivant le bien, ceux pour lesquels rien n’est à signaler 
        mais également les éléments qui portent à des remarques. Enfin, il doit rester élémentaire et ne 
        doit pas prêter au doute ou à l’interprétation lors de sa lecture. Sur ce type de document, les 
        simples cases à cocher sont à proscrire autant que l’utilisation de couleurs pour décrire une 
        situation. Rien ne remplace un texte précis et adapté au contexte, mais surtout pas écrit à la 
        main.
    </div>
</div>
</body>

</html>
{% endblock %}
