 .avantages-list {
    list-style-type: none; /* Supprime les puces de la liste */
    padding: 0; /* Supprime le padding par défaut */
}

.avantages-list li {
    margin-bottom: 8px; /* Ajoute un espace entre chaque élément de la liste */

   
    padding: 10px; /* Espace intérieur */
   
}

p {
    text-align: justify;
}

.top-minus-20 {
    top: -140px; /* ou une autre valeur appropriée */
}



.chiffrage {
    width: 50%; /* ou une valeur fixe comme 200px */
    height: auto; /* Cela maintient le rapport hauteur/largeur de l'image */
}

.placeholder-fixed::-webkit-input-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    transition: all 0.3s ease;
}

.devis-form-position {
    /* margin-left: 100px;
    margin-right: 100px; */
    border: 1px solid #ccc; /* Définit une bordure de 1 pixel solide de couleur grise */
    padding: 20px; /* Ajoute un espace intérieur de 20 pixels pour séparer les contenus du cadre */
    border-radius: 10px; /* Ajoute un arrondi aux coins du cadre */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ajoute une ombre légère pour donner de la profondeur */
  
}

.contact-form-position {
    margin-left: 250px;
    margin-right: 250px;
    border: 1px solid #ccc; /* Définit une bordure de 1 pixel solide de couleur grise */
    padding: 20px; /* Ajoute un espace intérieur de 20 pixels pour séparer les contenus du cadre */
    border-radius: 10px; /* Ajoute un arrondi aux coins du cadre */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ajoute une ombre légère pour donner de la profondeur */
    }
    
  



