{% extends "base.html.twig" %}

{% block title %}Hello DevisController!{% endblock %}



{% block body %}
<br>
<div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
    <h1 class="display-5 mb-2 text-primary">Votre devis gratuit</h1>
</div>
                             
         <div class="container">
     
         {{ include('devis/_form.html.twig') }}
         </div>
     
{% endblock %}


