{% extends 'base.html.twig' %}

{% block title %}Nous contacter - expert état des lieux{% endblock %}

{% block body %}
<br>
<br>

 <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
    <h1 class="display-5 mb-2 text-primary">Nous contacter</h1>
</div
     <div class="container my-5">
     {{ include('contact/_form.html.twig') }}
     </div>
{% endblock %}

